[package]
name = "async-process"
# When publishing a new version:
# - Update CHANGELOG.md
# - Create "v1.x.y" git tag
version = "1.7.0"
authors = ["Stjepan Glavina <stjepang@gmail.com>"]
edition = "2018"
rust-version = "1.48"
description = "Async interface for working with processes"
license = "Apache-2.0 OR MIT"
repository = "https://github.com/smol-rs/async-process"
keywords = ["process", "spawn", "command", "subprocess", "child"]
categories = ["asynchronous", "os"]
exclude = ["/.*"]

[dependencies]
async-lock = "2.6.0"
cfg-if = "1.0"
event-listener = { git = "https://github.com/smol-rs/event-listener" }
futures-lite = "1.11.0"

[build-dependencies]
autocfg = "1"

[target.'cfg(unix)'.dependencies]
async-io = "1.8"
rustix = { version = "0.37", default-features = false, features = ["std", "fs"] }

[target.'cfg(unix)'.dependencies.signal-hook]
version = "0.3.0"
features = ["iterator"]
default-features = false

[target.'cfg(windows)'.dependencies]
blocking = "1.0.0"

[target.'cfg(windows)'.dependencies.windows-sys]
version = "0.48"
default-features = false
features = [
    "Win32_Foundation",
    "Win32_System_Threading",
]

[dev-dependencies]
async-io = "1.8"
